[submodule "goog.docset/Contents/Resources/Documents"]
	path = goog.docset/Contents/Resources/Documents
	url = https://code.google.com/p/closure-library.docs/
        branch = gh-pages
	ignore = dirty
